  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/ideas/new">Submit an Idea</a>
    <a href="/ideas">View all Ideas</a>
    <a href="/profiles">View Profiles</a>
    <% if (user) { %>
      <a href="/auth/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>