<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <section>
    <% if (user) { %>
      <h2>We here at General Assembly would like to thank you all for agreeing to be a part of this focus group. </h2>
    <% } else { %>
      <h1>You have to log in to do cool stuff</h1>
    <% } %> 
  </section>
</main>

<%- include('./partials/footer') %>