<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <section class="index-page">
      <h1>Welcome to the Good Car Idea Focus Group!</h1>
      <h2>We would like to thank you all for agreeing to be a part of this focus group. Your ideas will actually be used in helping us create a brand new MongoDB database. There are no wrong answers, so let's click though the site, and you just go ahead and submit features you'd love to see implemented in your ideal car. Whenever you're ready!</h2>
  </section>
</main>

<%- include('./partials/footer') %>