<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <section>
    <% if (user) { %>
      <h2>We here at General Assembly would like to thank you all for agreeing to be a part of this focus group. </h2>
    <% } else { %>
      <h1>You have to log in to do cool stuff</h1>
    <% } %> 
  </section>
</main>

<%- include('./partials/footer') %>

<!-- <main>
  <h1>I changed it, <#%= user ? user.profile.name : "David" %></h1>
  <#% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<#%= user.profile.avatar %>" 
        alt="<#%= user.profile.name %> avatar"
      >
    </div>
  <#% } %>
</main> -->