<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Submit an Idea</h1>
  <section>
    <% if (user) { %>
      <h2>What are some features you'd love to see implemented in your ideal car? There are no wrong answers!</h2>
      <form action="/ideas" method="POST">
        <label>
          Feature: 
          <input type="text" name="content" autocomplete="off" placeholder="Whenever you're ready">
        </label>
        <button type="submit">Add feature</button>
      </form>
    <% } %>
    </section>
</main>

<%- include('../partials/footer') %>
