<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <section>
    <% if (user) { %>
      <h1><i class="fas fa-car"> </i>You solved my icon puzzle <i class="fas fa-car"></i></h1>
        <div style="text-align:center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/8YDpvMYk5jA?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <% } else { %>
  <h1>You have to log in to do cool stuff</h1>
<% } %> 
</section>
</main>

<%- include('../partials/footer') %>