html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: rgb(206, 131, 61);
  color: rgb(70, 16, 0);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Prompt', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background-color: rgb(255, 242, 207);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 3.6rem;
  font-family: 'Shrikhand', cursive;
  filter: drop-shadow(10px 7px 3px rgb(192, 54, 0));
  margin: 30px;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Shrikhand', cursive;
}

h3 {
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Shrikhand', cursive;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

th {
  font-size: 20px;
  text-align: left;
  padding: 5px 10px 5px 10px;
  background-color: rgba(192, 54, 0, 0.3);
}

td {
  font-size: 1.8rem;
  padding: 5px 10px 5px 10px;
  background-color: rgba(192, 54, 0, 0.3);
}

a {
  color: rgb(70, 16, 0);
  padding: 0px 3px 0px 3px;
}

pre {
  font-size: 1.4rem;
}

nav > a {
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(192, 54, 0);
}

a:hover {
  background-color: rgb(192, 54, 0);
  color: rgb(255, 242, 207);
  border-radius: 5px;
}

button {
  font-family: 'Prompt', sans-serif;
  margin: 5px;
  color: rgb(70, 16, 0);
  background: transparent;
  outline: none;
  border: 2px solid rgb(70, 16, 0);
  border-radius: 5px;
}

button:hover {
  background-color: rgb(192, 54, 0);
}

input {
  font-family: 'Prompt', sans-serif;
}

form {
  display: flex;
  align-items: center;
}

.btn-link:hover {
  background: transparent;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
  border-radius: 50%;
}

.card-img-top {
  border-radius: 50%;
}

.card-title {
  text-align: center;
}

.profile-header {
  font-size: 24px;
}

.detail-btn {
  display: flex;
  justify-content: center;
}

.feature-input {
  display: flex;
  justify-content: center;
}

.feature-header {
  font-size: 24px;
}